body {
	background-color: #f7f7f7;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1 {
	background-color: #262626;
	color: white;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 30px;
	margin-bottom: 0;
	font-variant: small-caps;
	text-transform: capitalize;
}

/* Add a black background color to the top navigation */
.topnav {
	background-color: #333;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #615e5f;
  color: white;
}

#content {
	padding-top: 25px;
	margin-right:25px;
	margin-left:25px;
}


.figure-patron {
    width: 220px;
    height: 150px;
    margin-bottom: 50px;
}

.img-patron {
    width: 220px;
    height: 150px;
    object-fit:cover;
}

.name-patron {
    background-color: rgba(38,38,38,0.7);
    color: white;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    width: 220px;
    
    position: absolute;
    bottom:50px;  /*Same as margin-bottom for figure-patron*/
}

.figure-echantillon {
	width: 50px;
    height: 50px;
    display: inline;
    
}
.img-echantillon {
	width: 50px;
    height: 50px;
}
.nb-mailles-echantillon {
	caption-side: bottom;
    font: italic smaller sans-serif;
    
}
.nb-rangs-echantillon {
	caption-side: right;
    font: italic smaller sans-serif;
	display:inline;
}

.h2-patron {
	font-size: 25px;
	font-variant: small-caps;
	text-transform: capitalize;
	margin-left:20px;
}

.h3-patron {
	font-size: 20px;
	font-variant: small-caps;
	text-transform: capitalize;
}

.h4-patron {
	font-size: 15px;
	font-variant: small-caps;
	text-transform: capitalize;
}


.li-aiguille {
	margin: 0;
	padding: 2px 0 2px 20px;
	list-style: none;
	background-image: url("../../static/img/aiguilles.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: 10px;
	/*list-style-image: url("../../static/img/aiguilles.png"); */
}


.li-pelote {
	margin: 0;
	padding: 0px 0 2px 20px;
	list-style: none;
	background-image: url("../../static/img/pelote.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: 12px;
}
