{% extends "base.html" %}
{% block title %}Accueil{% endblock %}



{% block content %}
	<div class="container">
	  
		<div class="row">
	  	{% for model in list %}

		
	    	<div class="col-sm">
	    		<figure class="figure-patron">
				    <a href="{% url 'patron' model.id %}"><img class="img-patron" src="../../static{{ model.image.url }}" height="300px" class="image" style="cursor: pointer;" alt={{ model.name }}></a>
				    <figcaption class="name-patron">{{ model.name }}</figcaption>
				</figure>
		    </div>
        
		{% empty %}
	    <p>Pas de {{ cat }} pour le moment !</p>

    	{% endfor %}
	    
	    </div>
	  
	</div>

    


{% endblock %}


