{% extends "base.html" %}
{% block title %} {{ patron.name }} {% endblock %}

{% block content %}

<h2 class="h2-patron">{{ patron.name }}</h2>

<div class="container">
<div class="row">

    <div class="col-sm">
        <img src="../../static{{ patron.image.url }}" height="400px" style="cursor: pointer;">
    </div>

    <div class="col-sm">
        <h3 class="h3-patron">Fournitures</h3>

        <h4 class="h4-patron">Laine</h4>
        <ul style="list-style-type:disc;">
        {% for pelote in patron.pelote_set.all %}
            <li class="li-pelote">{{pelote.quantity}} pelote{{pelote.quantity | pluralize}} {{pelote.name}} {{pelote.color}}</li>
        {% endfor %}
        </ul>

        <h4 class="h4-patron">Aiguilles</h4>
        <!--<img src="../../static/img/aiguilles.png" height="20px" style="cursor: pointer;">-->
        <ul style="list-style-type:disc;">
        {% for aiguille in patron.aiguille_set.all %}
            <li class="li-aiguille"> Aiguille {{aiguille.type}} {{pelote.size}} </li>
        {% endfor %}
        </ul>

        <h3 class="h3-patron">Echantillon</h3>
        {% for echantillon in patron.echantillon_set.all %}
        <div class="row">
            <div class="col">
                <figure class="figure-echantillon">
                    <img class="img-echantillon" src="../../static/img/echantillon.png">
                    <figcaption class="nb-rangs-echantillon">{{ echantillon.nb_rangs }} rangs </figcaption>
                    <figcaption class="nb-mailles-echantillon">{{ echantillon.nb_mailles }} mailles</figcaption>
                </figure>
            </div>
            <div class="col">
                L'échantillon de 10 cm sur 10 cm correspond à {{echantillon.nb_mailles}} mailles sur {{echantillon.nb_rangs}} rangs, en tricotant en {{echantillon.points}} avec des aiguilles {{echantillon.aiguille}}.
            </div>
        </div>
            <div class="empty"></div>
            

        {% endfor %}
    </div>

</div>






<h3 class="h3-patron">Explications</h3>
<ol>
    {% for etape in patron.etape_set.all%}
        <li>{{ etape.text}}</li>
        {% if etape.schema %} 
            <img src="../../static{{ etape.schema.url }}" height="200px" style="cursor: pointer;">
        {% endif %}
        
    {% endfor %}
</ol>



{% endblock %}

</div>