<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Accueil{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"> 
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>


<h1>Mes Modèles de Tricot</h1>



<div class="topnav" id="topnav"> 
    {% block nav %} 
	<a class="{% if cat == "index" %}active{% endif %}" href="/patrons">Home</a>
    {% for category in category_list %}
	<a class="{% if cat|lower == category.name|lower %}active{% endif %}" href="/patrons/{{category.name|lower}}" id="pulllink">{{ category.name }}</a>
    {% endfor %}
    <a class="{% if cat == "En cours" %}active{% endif %}" href="#now">En cours</a>
	<a class="{% if cat == "admin" %}active{% endif %}" href="/admin" id="adminlink">Admin</a>
    {% endblock %}
</div> 



<section id="content">
    {% block content %}{% endblock %}
</section>



<!--<footer>&copy; Aloïs</footer>-->

</body>
</html>